%textarea#text_me{ rows: 14, style: 'width: 700px' }
%br
%br
%button#click_me Replay
%br
%br
%textarea#replay_me{ rows: 14, style: 'width: 700px' }

:javascript
  $(function() {
    Record.apply('#text_me');

    $('#click_me').click(function() {
      Replay.play('#replay_me')
    });
  })
