%textarea#text-me{ rows: 14, style: 'width: 700px' }
%br
%br
%button#click-me Replay
%br
%br
%textarea#replay-me{ rows: 14, style: 'width: 700px' }

:javascript
  $(function() {
    Record.apply('#text-me');

    $('#click-me').click(function() {
      window.records.forEach(function(record) {
        setTimeout(function() {
          $('#replay-me').val(record.text);
        }, record.time);
      })
    });
  })
